body {
  font-size: 100%;
  line-height: 1.5;
  text-align: left;
}
#doc {
  margin-left: auto;
  margin-right: auto;
  width: 792px;
}
img.rounded-image { background-image: url('../images/rounded.png'); }
.header a { text-decoration: none; }
